<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="index.html">
  <span class="align-middle">CLM SYSTEM</span>
</a>
        <ul class="sidebar-nav" onclick="navbarFun(event)">
            <li class="sidebar-header">
                Page
            </li>

            <li class="sidebar-item active">
                <a class="sidebar-link" href="dashboard.html">
                <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
            </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="m-staff.html" th:if="${userDetails.role}=='admin'">
                    <i class="fa-solid fa-clipboard-user align-middle"></i> <span class="align-middle">Manage Staff</span>
                </a>
            </li>
            <li class="sidebar-item" th:if="${userDetails.role}=='student'">
                <a class="sidebar-link" href="m-leave.html">
                    <i class="fa-solid fa-clipboard-user align-middle"></i> <span class="align-middle">Apply Leave</span>
                </a>
            </li>
            <li class="sidebar-item" th:if="${userDetails.role}=='staff'">
                <a class="sidebar-link" href="m-leave.html">
                    <i class="fa-solid fa-clipboard-user align-middle"></i> <span class="align-middle">Apply Leave</span>
                </a>
            </li>
            <li class="sidebar-item" th:if="${userDetails.role}=='staff'">
                <a class="sidebar-link" href="m-approve.html">
                    <i class="fa-solid fa-clipboard-user align-middle"></i> <span class="align-middle">Approve Leave</span>
                </a>
            </li>
            <li class="sidebar-item" th:if="${userDetails.role}=='hod'">
                <a class="sidebar-link" href="m-approve.html">
                    <i class="fa-solid fa-clipboard-user align-middle"></i> <span class="align-middle">Approve Leave</span>
                </a>
            </li>
            <li class="sidebar-item" th:if="${userDetails.role}=='admin'">
                <a class="sidebar-link" href="m-student.html">
                    <i class="fa-solid fa-user-graduate"></i> <span class="align-middle">Student Manage</span>
                </a>
            </li>
            <li class="sidebar-item" th:if="${userDetails.role}=='admin'">
                <a class="sidebar-link" href="m-department.html">
                    <i class="fa-regular fa-building"></i> <span class="align-middle">Manage Department</span>
                </a>
            </li>
        </ul>

        <div class="sidebar-cta">
            <div class="sidebar-cta-content">

            </div>
        </div>
    </div>
</nav>