<main class="content">
    <div class="container-fluid p-0">

        <h1 class="h3 mb-3"><strong th:text="${pageTitle}">Page Title</strong> </h1>

        <div class="row">
            <div class="col-18 col-lg-12 col-xxl-9 d-flex">
                <div class="card flex-fill">
                    <div class="card-header">
                        <h5 class="card-title mb-0">List Leave</h5>
                        <div class="col-sm-12 position-relative mb-5">
                            <button data-toggle="modal" data-target="#mymodal" data-id="/Student/apply_leave.html" id="menu" class="position-absolute top-0 start-0 btn btn-sm btn-primary waves-effect waves-light"><span class="btn-label"><i class="fa fa-plus"></i></span>Apply Leave</button>
                            <span class="position-absolute top-0 end-0 waves-light">
                                <b>AUTHORITIES</b><br>
                                <b>SANCTIONER :
                                    <span th:each="res,i : ${responsible}" th:text="${i.count}+'. '+${res.first_name}+' '+${res.last_name}"></span>
                                </b>
                            </span>
                        </div>
                        <div class="error text-center bg-danger" th:if="${param.error}!=null" th:text="${param.error[0]}">error</div>
                        <table class="table table-hover my-0">
                            <thead>
                            <tr>
                                <th># ID</th>
                                <th class="d-none d-xl-table-cell">FROM DATE</th>
                                <th class="d-none d-xl-table-cell">TO DATE</th>
                                <th class="d-none d-xl-table-cell">Leave Type</th>
                                <th class="d-none d-xl-table-cell">Reason</th>
                                <th class="d-none d-xl-table-cell">STATUS</th>
                                <th class="d-none d-xl-table-cell">UPDATE</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="aleave,itor : ${al}">
                                <td th:text="${itor.count}">ID</td>
                                <td class="d-none d-xl-table-cell" th:text="${aleave.date_from}">date_from</td>
                                <td class="d-none d-xl-table-cell" th:text="${aleave.date_to}">date_to</td>
                                <td class="d-none d-xl-table-cell" th:text="${aleave.leaveType}">leave_type</td>
                                <td class="d-none d-xl-table-cell" th:text="${#strings.abbreviate(aleave.reason,20)}">reason</td>
                                <td class="d-none d-xl-table-cell" th:if="${aleave.status=='approve'}"><span class="badge bg-success">APPROVE</span></td>
                                <td class="d-none d-xl-table-cell" th:if="${aleave.status=='pending'}"> <span class="badge bg-danger">PENDING</span></td>
                                <td class="d-none d-xl-table-cell" th:if="${aleave.status=='reject'}"> <span class="badge bg-secondary">CANCEL</span></td>
                                <td class="d-none d-xl-table-cell">
                                    <button data-toggle="modal" data-target="#mymodal" th:attr="data-id=@{/Student/leave_update.html(id=${aleave.l_id})}" id="menu" class="btn btn-sm btn-warning waves-effect waves-light"><span class="btn-label">
                                    <i class="fa-solid fa-pen-to-square"></i></span>
                                        Update
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

</main>
<script type="text/javascript">
    $(document).ready(function(){
        let sel = $('.sidebar-item');
        sel.removeClass("active");
        $('.sidebar-nav li:nth-child(4)').addClass("active");
    });
</script>