<link href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css" rel="stylesheet">
<main class="content">
    <div class="container-fluid p-0">

        <h1 class="h3 mb-3"><strong th:text="${pageTitle}">Page Title</strong> </h1>

        <div class="row">
            <div class="col-xl-12 col-xxl-8 d-flex">
                <div class="w-100">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col mt-0">
                                            <h5 class="card-title">DEPARTMENT</h5>
                                        </div>

                                        <div class="col-auto">
                                            <div class="stat text-primary">
                                                <i class="fa-regular fa-building"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <h1 class="mt-1 mb-3 ml-4" th:text="${dashboard_department}">TOTAL_DEPARTMENT</h1>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col mt-0">
                                            <h5 class="card-title">STUDENT</h5>
                                        </div>

                                        <div class="col-auto">
                                            <div class="stat text-primary">
                                                <i class="fa-solid fa-user-graduate"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <h1 class="mt-1 mb-3 ml-4" th:text="${dashboard_student}">TOTAL_STUDENT</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col mt-0">
                                            <h5 class="card-title">STAFF</h5>
                                        </div>

                                        <div class="col-auto">
                                            <div class="stat text-primary">
                                                <i class="fa-solid fa-clipboard-user"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <h1 class="mt-1 mb-3 ml-4" th:text="${dashboard_staff}">TOTAL_STAFF</h1>
                                </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-18 col-lg-12 col-xxl-9 d-flex">
                <div class="card flex-fill">
                    <div class="card-header">

                        <h5 class="card-title mb-0 p-0">User List</h5>
                    </div>
                    <table id="user" class="table table-hover my-0">
                        <thead>
                            <tr>
                                <th class="d-none d-xl-table-cell">Full Name</th>
                                <th class="d-none d-xl-table-cell">Email</th>
                                <th>Mobile</th>
                                <th class="d-none d-md-table-cell">Permision</th>
                                <th class="d-none d-md-table-cell">Department</th>
                                <th class="d-none d-md-table-cell">Role</th>
                                <th class="d-none d-md-table-cell">Gender</th>
                                <th class="d-none d-md-table-cell">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="staff_list: ${dashboard_staff_all}">
                                <th class="d-none d-xl-table-cell" th:text="${staff_list.first_name}+' '+${staff_list.last_name}">Full Name</th>
                                <th class="d-none d-xl-table-cell" th:text="${staff_list.email}">Email</th>
                                <th th:text="${staff_list.mobile_no}">Mobile</th>
                                <th class="d-none d-md-table-cell" th:text="${staff_list.permission}">Permision</th>
                                <th class="d-none d-md-table-cell" th:text="${staff_list.department.dname}">Department</th>
                                <th class="d-none d-md-table-cell" th:text="${staff_list.role}">Role</th>
                                <th class="d-none d-md-table-cell" th:text="${staff_list.user_gender}">Gender</th>
                                <th class="d-none d-md-table-cell" th:text="${staff_list.status}">Status</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</main>
<script type='text/javascript' src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script type='text/javascript' src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>
<script type='text/javascript'>
    $(document).ready(function() {
    $('#user').DataTable();
});
</script>