<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/mains.css">
        <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
        <title>College Leave Management System</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/09307f62ef.js" crossorigin="anonymous"></script>
    </head>
    <body id="container">

        <nav class="nav">
            <div class="nav-button">
                <span class="p1"></span>
                <span class="p2"></span>
                <span class="p3"></span>
            </div>
            <ul class="nav-container">
            <li class="nav-item">
                <a class="nav-link active" href="#">Item 1 <span class="nav-circle"><i class="fa-solid fa-user-helmet-safety"></i></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Item 2 <span class="nav-circle"></span></a>
            </li>
        </ul>
        </nav>
        <div class="load">
            Are you new to Visual Studio Code? Or are you just starting to learn how to code and want some tips to improve your coding tool? In this article we are going to show you five basic Visual Studio Code extensions that will make your code more readable, and will give you the much needed productivity bust during your first coding encounters.
            Visual Studio Code (VS Code) was released in 2015 by Microsoft. Since then, it has become one of the most popular source code editors because of its many perks, such as syntax highlighting, embedded Git control and code completion. But what we love even more about VS Code is that it can be customised with tons of extensions, created and nurtured by the Developers’ community.
            Here, 
            Elisa
             and I introduce you to our top five extensions for beginners. Enjoy!
            1. It’s Alive! ⚡
            Don’t waste time saving files and reloading! With Live Server extension you can launch a local server with live reload. It’s very easy to use: just click on your Status Bar and “Go live”!!! From now on, you will be able to test your code without reloading manually the webpage to see the applied changes.
        </div>
        <script>
            $(document).ready(()=>{
                $(".nav-button").on("click",()=>{
                    $(".nav-container").css({"left":0}).toggle();
                });
            });
            $(document).load(()=>{

            });
        </script>
    </body>
</html>
<div id="container">
    PAGE 1    
</div>
<div id="container">
    PAGE 2  
</div>
<div id="container">
    PAGE 3
</div>
<div id="container">
    PAGE 4
</div>